In [1]:
pwd

'C:\\Users\\DERANGULA ASRITHA'

In [2]:
x=[1,2.8,3,"data",3+9j]
print(type(x))
print(x)

<class 'list'>
[1, 2.8, 3, 'data', (3+9j)]

In [3]:
len(x)

5

In [4]:
type(x[0]),type(x[1]),type(x[3]),type(x[4])

(int, float, str, complex)

In [5]:
print(x[0])
x[0]=22
print(x)

1
[22, 2.8, 3, 'data', (3+9j)]

In [7]:
x=[1,2,3,[1,2,3]]
print(x[0])
print(x[1])
print(x[2])
print(x[3])
print(x[3][0])
print(x[3][1])
print(x[3][2])

1
2
3
[1, 2, 3]
1
2
3

In [8]:
x=[1,2,3,["data","science","machine"],["learnig"]]
print(len(x))

5

In [9]:
x=[1,2,3,["data","science","machine"],["learnig"]]
x[-2][-1][-3:]

'ine'

In [10]:
x=[1,2,3,["data","science","machine"],["learing"]]
x[4][0][-3:].upper()

'ING'

In [11]:
temperature_data = [

[

# Week 1

["Monday", [24.5, 34.2, 22.1, 36.0]],

["Tuesday", [25.0, 33.5, 23.0, 35.5]],

["Wednesday",[23.8, 32.0, 21.5, 34.0]],

],

[

# Week 2

["Monday", [26.1, 35.0, 24.2, 37.2]],

["Tuesday", [25.8, 34.5, 23.7, 36.1]],

["Wednesday",[24.9, 33.3, 22.5, 35.7]],

]

]

In [12]:
temperature_data

[[['Monday', [24.5, 34.2, 22.1, 36.0]],
  ['Tuesday', [25.0, 33.5, 23.0, 35.5]],
  ['Wednesday', [23.8, 32.0, 21.5, 34.0]]],
 [['Monday', [26.1, 35.0, 24.2, 37.2]],
  ['Tuesday', [25.8, 34.5, 23.7, 36.1]],
  ['Wednesday', [24.9, 33.3, 22.5, 35.7]]]]

In [13]:
temperature_data[0][2][1]

[23.8, 32.0, 21.5, 34.0]

In [14]:
temperature_data[1][1][1][-1]

36.1

In [15]:
temperature_data[-1][-2][-1][-1]

36.1

In [16]:
#list methods
# 1. append -> It adds element at the end of the list
#example :
x=[1,2,3]
x.append(10)
x
x.append([1,2,3])
x

[1, 2, 3, 10, [1, 2, 3]]

In [17]:
#2.extend -> instead of adding as a single element it extends the original list,it extracts based on the index and it append for each element in a list

x=[1,2,3]
x.extend([4,5,6])
x

[1, 2, 3, 4, 5, 6]

In [18]:
y=[1,2,3]
y.extend ("data")
y

[1, 2, 3, 'd', 'a', 't', 'a']

In [19]:
z=[12,23]
z.extend (["data"])
z

[12, 23, 'data']

In [20]:
#remove : removes the element from the list
x=[1,2,3,4,6]
x.remove(3)  
x

[1, 2, 4, 6]

In [21]:
#4. insert : inserts the element by specifying the position
x=[1,2,3,4,6]
x.insert(3,"data") # insert(position,element)
x # when number is larger then it inserts at the end of the list

[1, 2, 3, 'data', 4, 6]

In [22]:
# 5. clear --> it clears the total list
x=[2,4,6]
x.clear()
x

[]

In [23]:
#6. sort --> it sorts the list in ascending order
x=[1,2,22,23.2,4]
x.sort()
x

[1, 2, 4, 22, 23.2]

In [24]:
x=["xyz",'ab','axc','A'] # it prioritizes capital letter then small letters
x.sort()
x
# BUT WHEN THE LIST CONSIST OF BOTH STRING AND NUMBER THEN IT THROWS AN ERROR CANNOT BE SORTED

['A', 'ab', 'axc', 'xyz']

In [25]:
x=["xyz",'ab','axc','A'] 
x.sort(reverse=True) # reverses the order like in descending order so reverse is used
x

['xyz', 'axc', 'ab', 'A']

In [26]:
#7.reverse -> it reverse the list elements
x=[1,2,3,4]
x.reverse()
x

[4, 3, 2, 1]

In [27]:
x=[1,2,3,4,"data"]
x.reverse()
x

['data', 4, 3, 2, 1]

In [28]:
x=[1,2,3,4]
y=x
y[2]=222
print(y)
print(x)  
# this type of scenario is called shallow copy or copy by reference  
#o/p : [1, 2, 222, 4]  [1, 2, 222, 4]

[1, 2, 222, 4]
[1, 2, 222, 4]

In [29]:
#to avoid shallow copy we use copy () method
# 8.copy--> it returns the new list
x=[1,2,3,4]
y=x.copy()
y[2]=222
print(y)
print(x)

[1, 2, 222, 4]
[1, 2, 3, 4]

In [30]:
#9.count-->
x=[1,2,4,4,5,2,2,1,1]
x.count(1)

3

In [31]:
x=[1,2,4,4,5,2,"a","d","a"]
x.count("a")

2

In [32]:
#10. pop-> it removes based on the element index
x=[1,2,4,4,5,2,"a","d","a"]
x.pop(-1)

'a'

In [33]:
x=[1,2,4,4,5,2,"a","d","a"]
x.pop() # if we not mention any index value then it removes the last element of the list

'a'

In [34]:
#tuple
type(""),type(())

(str, tuple)

In [35]:
x=(1,2,3)
type(x)

tuple

In [37]:
x=(1,2,3,4,5,1,1,1)
x.count(1)

4

In [38]:
x=(1,2,3,4,5,1,1,1)
x.index(1)

0

In [39]:
##dictionaries -->it  contains key-value pairs seperated by :(colon)
type({})

dict

In [40]:
student={"name":"data science","duration":6}
student

{'name': 'data science', 'duration': 6}

In [41]:
student={"name":"data science","duration":6}
print(student['duration'])
print(student['name'])
# list cannot be used as key as it throws an error where as tuple abd string can be used as key
# most of the dictionaries are used in json files

6
data science

In [42]:
employee_data = {
"EMP001": {
"name": "Rahul Sharma",
"age": 29,
"department": "Finance"
},
"EMP002": {
"name": "Priya Iyer",
"age": 26,
"department": "Human Resources"
}
}

In [43]:
employee_data['EMP001']['department']

'Finance'

In [44]:
employee_data['EMP002']['age']

26

In [45]:
 #.keys() function is used to find all keys present in the dictionary
d={1:"data",2:"science"}
d.keys()

dict_keys([1, 2])

In [46]:
#.values() function is used to find all value present in the dictionary
d={1:"data",2:"science"}
d.values()

dict_values(['data', 'science'])

In [47]:
#.items() method is used to find the dictionary key-value pairs
d={1:"data",2:"science"}
d.items()

dict_items([(1, 'data'), (2, 'science')])

In [48]:
d

{1: 'data', 2: 'science'}

In [49]:
d[1]="machine" # dictionary is a mutable because the elements of dictionary values can me modified
d

{1: 'machine', 2: 'science'}

In [50]:
d[3]="machine" # in this scenario if the element is not present then it creates the new dictionary key -value pair in existion dictionary
d

{1: 'machine', 2: 'science', 3: 'machine'}

In [51]:
d["data"]='learning'# in this scenario if the element is not present then it creates the new dictionary key -value pair in existion dictionary
d

{1: 'machine', 2: 'science', 3: 'machine', 'data': 'learning'}

In [52]:
d

{1: 'machine', 2: 'science', 3: 'machine', 'data': 'learning'}

In [53]:
#update:
d.update({'data': "science"})
d

{1: 'machine', 2: 'science', 3: 'machine', 'data': 'science'}

In [54]:
#pop
d.pop(3)

'machine'

In [55]:
d

{1: 'machine', 2: 'science', 'data': 'science'}

In [56]:
#popitem -> it removes the last elemenyt from the dictionary
d.popitem()
d

{1: 'machine', 2: 'science'}

In [57]:
#clear
d.clear()
d

{}