In [4]:
pwd

'C:\\Users\\DERANGULA ASRITHA'

In [5]:
########   DICTIONARY #####

In [6]:
print("\nQuestion : Create a dictionary with class values: {'list': list, 'dict': dict, 'set': set}")
dict={'list':list,'dict':dict,'set':set}
dict

Question : Create a dictionary with class values: {'list': list, 'dict': dict, 'set': set}

{'list': list, 'dict': dict, 'set': set}

In [7]:
print("\nQuestion : Create instances using class dictionary")

Question : Create instances using class dictionary

In [8]:
print("\nQuestion: Create a dictionary with None values: {'a': None, 'b': None, 'c': None}")
d={'a':None,'b':None,'c':None}
d

Question: Create a dictionary with None values: {'a': None, 'b': None, 'c': None}

{'a': None, 'b': None, 'c': None}

In [9]:
print("\nQuestion: Replace all None values with 0")
d={'a':None,'b':None,'c':None}
for i in d:
    d[i]=0
print(d)

Question: Replace all None values with 0
{'a': 0, 'b': 0, 'c': 0}

In [10]:
print("\nQuestion: Create a dictionary with boolean values: {'is_active': True, 'is_admin': False}")
dt={'is_active':True,'is_admin':False}
dt

Question: Create a dictionary with boolean values: {'is_active': True, 'is_admin': False}

{'is_active': True, 'is_admin': False}

In [11]:
print("\nQuestion: Count True values in boolean dictionary")
dt={'is_active':True,'is_admin':False}
c=0
for i in dt:
    if dt[i]==True:
        c+=1
print(c)

Question: Count True values in boolean dictionary
1

In [12]:
print("\nQuestion: Create a dictionary with complex numbers: {'z1': 3+4j, 'z2': 1+2j}")
d={'z1': 3+4j, 'z2': 1+2j}
d

Question: Create a dictionary with complex numbers: {'z1': 3+4j, 'z2': 1+2j}

{'z1': (3+4j), 'z2': (1+2j)}

In [13]:
print("\nQuestion: Find magnitude of each complex number")
d={'z1': 3+4j, 'z2': 1+2j}
for i in d:
    d[i]=abs(d[i])
print(d)

Question: Find magnitude of each complex number
{'z1': 5.0, 'z2': 2.23606797749979}

In [14]:
print("\nQuestion: Create a 4-level nested dictionary")
d={'company':{'department':{'section':{ 'employee':{'name':"rakesh",'age':22}}}}}
d

Question: Create a 4-level nested dictionary

{'company': {'department': {'section': {'employee': {'name': 'rakesh',
     'age': 22}}}}}

In [15]:
print("\nQuestion: Access deepest value in 4-level nested dictionary")
d={'company':{'department':{'section':{ 'employee':{'name':"rakesh",'age':22}}}}}
d['company']['department']['section']['employee']['age']

Question: Access deepest value in 4-level nested dictionary

22

In [16]:
print("\nQuestion: Create a dictionary with range values: {'r1': range(3), 'r2': range(5)}")
r={'r1': range(3), 'r2': range(5)}
r

Question: Create a dictionary with range values: {'r1': range(3), 'r2': range(5)}

{'r1': range(0, 3), 'r2': range(0, 5)}

In [17]:
print("\nQuestion: Convert each range to list")
r={'r1': range(3), 'r2': range(5)}
for i in r:
    r[i]=list(r[i])
print(r)

Question: Convert each range to list
{'r1': [0, 1, 2], 'r2': [0, 1, 2, 3, 4]}

In [18]:
print("\nQuestion : Create a dictionary with nested lists: {'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}")
d={'matrix':[[1,2],[3,4]],'vector':[5,6,7]}
d

Question : Create a dictionary with nested lists: {'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}

{'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}

In [19]:
print("\nQuestion: Find sum of each nested list")
e={'matrix':[[1,2],[3,4]],'vector':[5,6,7]}
for key, value in d.items():
    if isinstance(value[0], list):
        e[key] = [sum(inner) for inner in value]
    else:
        e[key] = sum(value)
print(e)

Question: Find sum of each nested list
{'matrix': [3, 7], 'vector': 18}

In [20]:
print("\nQuestion: Create a dictionary with nested dictionaries: {'config': {'db': {'host': 'localhost', 'port': 5432}}}")
r={'config': {'db': {'host': 'localhost', 'port': 5432}}}
r

Question: Create a dictionary with nested dictionaries: {'config': {'db': {'host': 'localhost', 'port': 5432}}}

{'config': {'db': {'host': 'localhost', 'port': 5432}}}

In [21]:
print("\nQuestion: Access database port from nested configuration")
r={'config': {'db': {'host': 'localhost', 'port': 5432}}}
r['config']['db']['port']

Question: Access database port from nested configuration

5432

In [22]:
print("\nQuestion: Create a dictionary with nested tuples: {'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}")
nt={'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}
nt

Question: Create a dictionary with nested tuples: {'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}

{'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}

In [23]:
print("\nQuestion: Extract first point coordinates")
nt={'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}
nt['points'][0]

Question: Extract first point coordinates

(1, 2)

In [24]:
print("\nQuestion: Create a dictionary with nested sets: {'groups': {{1, 2, 3}, {4, 5, 6}}, 'categories': {{'a', 'b'}, {'c', 'd'}}}")
s={'groups': [{1, 2, 3}, {4, 5, 6}],'categories': [{'a', 'b'}, {'c', 'd'}]}
s

Question: Create a dictionary with nested sets: {'groups': {{1, 2, 3}, {4, 5, 6}}, 'categories': {{'a', 'b'}, {'c', 'd'}}}

{'groups': [{1, 2, 3}, {4, 5, 6}], 'categories': [{'a', 'b'}, {'c', 'd'}]}

In [25]:
print("\nQuestion : Find union of all nested sets")
x = {'groups': [{1, 2, 3}, {4, 5, 6}], 'categories': [{'a', 'b'}, {'c', 'd'}]}
result = {}
union_set = set()
for key, value in x.items():
    for s in value:
        union_set = union_set.union(s)
    result[key] = union_set
print(result)

Question : Find union of all nested sets
{'groups': {1, 2, 3, 4, 5, 6}, 'categories': {1, 2, 3, 4, 5, 6, 'b', 'c', 'd', 'a'}}

In [26]:
### SET  ###

In [27]:
print("SOLVED EXAMPLE:")
print("Find the union of two sets")
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_set = set1.union(set2)
print(f"Set 1: {set1}")
print(f"Set 2: {set2}")
print(f"Union: {union_set}")
print("-" * 50)

SOLVED EXAMPLE:
Find the union of two sets
Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
--------------------------------------------------

In [28]:
print("Question: Create a set of first 10 natural numbers")
n=int(input())
d=set()
for i in range(1,n+1):  
    d.add(i) 
print(d)

Question: Create a set of first 10 natural numbers
10
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [29]:
print("\nQuestion: Add element 11 to set {1, 2, 3, 4, 5}")
s={1,2,3,4,5}
s.add(11)
s

Question: Add element 11 to set {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5, 11}

In [30]:
print("\nQuestion: Remove element 3 from set {1, 2, 3, 4, 5, 6}")
s={1,2,3,4,5,6}
s.remove(3)
s

Question: Remove element 3 from set {1, 2, 3, 4, 5, 6}

{1, 2, 4, 5, 6}

In [31]:
print("\nQuestion: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}")
a={1,2,3,4,5}
b={4,5,6,7,8}
a.intersection(b)

Question: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}

{4, 5}

In [32]:
print("\nQuestion : Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}")
x={1,2,3,4,5}
y={4,5,6,7,8}
x.difference(y)

Question : Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}

{1, 2, 3}

In [33]:
print("\nQuestion : Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}")
5 in {1,2,3,4,6,7,8}

Question : Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}

False

In [34]:
print("\nQuestion : Find the length of set {'a', 'b', 'c', 'd', 'e'}")
z={'a','b','c','d','e'}
len(z)

Question : Find the length of set {'a', 'b', 'c', 'd', 'e'}

5

In [35]:
print("\nQuestion : Create a set of vowels from string 'hello world'")
s="hello world"
t=set()
for i in s:
    if i in "aeiou":
        t.add(i)
print(t)

Question : Create a set of vowels from string 'hello world'
{'e', 'o'}

In [36]:
print("\nQuestion: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set")
lst=[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
x=set(lst)
x

Question: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set

{1, 2, 3, 4, 5, 6, 7}

In [37]:
print("\nQuestion : Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}")
a={1,2,3}
b={1,2,3,4,5,6}
a.issubset(b)

Question : Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}

True

In [38]:
#### BOOLEAN  ###

In [39]:
print("SOLVED EXAMPLE:")
print("Check if a number is both even and greater than 10")
number = 16
is_even = number % 2 == 0
is_greater_than_10 = number > 10
result = is_even and is_greater_than_10
print(f"Number: {number}")
print(f"Is even: {is_even}")
print(f"Is greater than 10: {is_greater_than_10}")
print(f"Both conditions: {result}")
print("-" * 50)

SOLVED EXAMPLE:
Check if a number is both even and greater than 10
Number: 16
Is even: True
Is greater than 10: True
Both conditions: True
--------------------------------------------------

In [40]:
print("Question: Check if 25 is greater than 20 and less than 30")
print(25>20 and 25<30)

Question: Check if 25 is greater than 20 and less than 30
True

In [41]:
print("\nQuestion : Check if string 'python' is equal to 'Python' (case sensitive)")
print("python"=="Python")

Question : Check if string 'python' is equal to 'Python' (case sensitive)
False

In [42]:
print("\nQuestion: Check if 15 is divisible by both 3 and 5")
if 15/3 and 15/5:
    print("Yes")
else:
    print("False")

Question: Check if 15 is divisible by both 3 and 5
Yes

In [43]:
print("\nQuestion: Check if 7 is not equal to 8")
print(7!=8)

Question: Check if 7 is not equal to 8
True

In [44]:
print("\nQuestion: Check if 100 is greater than 50 or less than 25")
print(100>50 or 100<25)

Question: Check if 100 is greater than 50 or less than 25
True

In [45]:
print("\nQuestion : Check if 0 is falsy in Python")
0 in[False]

Question : Check if 0 is falsy in Python

True

In [46]:
print("\nQuestion: Check if empty string '' is falsy in Python")
' ' in [False]

Question: Check if empty string '' is falsy in Python

False

In [47]:
print("\nQuestion: Check if 42 is truthy in Python")
n=int(input())
42 in [n]

Question: Check if 42 is truthy in Python
42

True

In [48]:
print("\nQuestion : Check if 10 is between 5 and 15 (inclusive)")
print(5<=10<=15)

Question : Check if 10 is between 5 and 15 (inclusive)
True

In [49]:
print("\nQuestion: Check if 3.14 is greater than 3 and less than 4")
print(3<3.14<4)

Question: Check if 3.14 is greater than 3 and less than 4
True

In [50]:
###  NONE  ###

In [51]:
print("SOLVED EXAMPLE:")
print("Check if a variable is None")
variable = None
is_none = variable is None
print(f"Variable: {variable}")
print(f"Is None: {is_none}")
print("-" * 50)

SOLVED EXAMPLE:
Check if a variable is None
Variable: None
Is None: True
--------------------------------------------------

In [52]:
print("Question 1: Create a variable and assign None to it")
VAR='None'
VAR

Question 1: Create a variable and assign None to it

'None'

In [53]:
print("\nQuestion 2: Check if None equals None")
print(None==None)

Question 2: Check if None equals None
True

In [54]:
print("\nQuestion: Check if None is None")
print(None is None)

Question: Check if None is None
True

In [57]:
print("\nQuestion: Check if False is None")
False is None

Question: Check if False is None

False

In [58]:
print("\nQuestion: Check if empty list is None")
[] is None

Question: Check if empty list is None

False

In [59]:
print("\nQuestion: Check if empty dictionary is None")
{} is None

Question: Check if empty dictionary is None

False

In [60]:
print("\nQuestion : Check if empty set is None")
{} is None

Question : Check if empty set is None

False

In [61]:
### COMPLEX  ###

In [62]:
print("SOLVED EXAMPLE:")
print("Create a complex number and find its conjugate")
z = 3 + 4j
conjugate = z.conjugate()
magnitude = abs(z)
print(f"Complex number: {z}")
print(f"Conjugate: {conjugate}")
print(f"Magnitude: {magnitude}")
print("-" * 50)

SOLVED EXAMPLE:
Create a complex number and find its conjugate
Complex number: (3+4j)
Conjugate: (3-4j)
Magnitude: 5.0
--------------------------------------------------

In [63]:
print("Question: Create complex number 5 + 3j")
X=5+3j
X

Question: Create complex number 5 + 3j

(5+3j)

In [64]:
print("\nQuestion: Find the real part of complex number 7 - 2j")
c=7-2j
c.real

Question: Find the real part of complex number 7 - 2j

7.0

In [65]:
print("\nQuestion : Find the imaginary part of complex number 4 + 6j")
x=4+6j
x.imag

Question : Find the imaginary part of complex number 4 + 6j

6.0

In [66]:
print("\nQuestion: Add two complex numbers: (3 + 2j) and (1 + 4j)")
x=3+2j
y=1+3j
print(x+y)

Question: Add two complex numbers: (3 + 2j) and (1 + 4j)
(4+5j)

In [67]:
print("\nQuestion: Multiply two complex numbers: (2 + 3j) and (1 + 2j)")
x=(2+3j)
y=(1+2j)
print(x*y)

Question: Multiply two complex numbers: (2 + 3j) and (1 + 2j)
(-4+7j)

In [68]:
print("\nQuestion : Find the magnitude of complex number 6 + 8j")
import math
x=6+8j
magnitude=abs(x)
print(magnitude)

Question : Find the magnitude of complex number 6 + 8j
10.0

In [69]:
print("\nQuestion: Subtract complex numbers: (10 + 5j) - (3 + 2j)")
print((10 + 5j) - (3 + 2j))

Question: Subtract complex numbers: (10 + 5j) - (3 + 2j)
(7+3j)

In [70]:
print("\nQuestion: Divide complex numbers: (8 + 6j) / (2 + 1j)")
print((8 + 6j) / (2 + 1j))

Question: Divide complex numbers: (8 + 6j) / (2 + 1j)
(4.4+0.8j)

In [71]:
print("\nQuestion: Find the phase angle of complex number 1 + 1j") 
import cmath
x=1+1j
y=cmath.phase(x)
y

Question: Find the phase angle of complex number 1 + 1j

0.7853981633974483